# CONFIG_TARGET_MULTI_PROFILE is not set
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5c=y
CONFIG_TARGET_PROFILE="DEVICE_friendlyarm_nanopi-r5c"
CONFIG_DEFAULT_iwinfo=y
CONFIG_DEFAULT_kmod-r8169=y
CONFIG_DEFAULT_kmod-rtw88-8822ce=y
CONFIG_DEFAULT_rtl8822ce-firmware=y
CONFIG_DEFAULT_wpad-basic-mbedtls=y
